<%- include('partials/header');%>
<%- include('partials/navbar') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
            <div class="row justify-content-around p-5">
                <div class="col-4">
                    <a href="/register" class="btn btn-primary">Register</a>
                </div>
                <div class="col-4">
                    <a href="/login" class="btn btn-dark">Login</a> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="justify-content-center">
       
</div>
<%- include('partials/footer');%>